<div class="col-md-12">
    <div class="col-md-2">
       

    </div>
    <div >
        <div class="col-md-10 float-end">
          <br>
            <div class="row md-4">
                <div *ngFor="let color of colors" class="card text-dark bg-light mb-3" style="width: 18rem;">
                  <!-- <img  [src]="imagePathColorSpectrum" class="card-img-top" alt="GenericColorPhoto"> -->
                  <img src="" alt="">
                    <div class="card-body">
                      <h5 style="color:#dc3545" class="card-title">{{color.colorName}}</h5>
                      <p class="card-text"></p>
                      <a routerLink="/cars/color/{{color.colorId}}" class="btn" style="color:black" >Show More</a>
                    </div>
                  </div>
                </div>
            </div>
    </div>

</div>

