<br>
<h2 style="font-style: italic;" >Update Brand</h2>
<br>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            
            <th>Brand Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let brand of brands">
                    <td>{{brand.brandName}}</td>
              
                    <td><button  routerLink="/brandupdate/{{brand.brandId}}" class="btn float-end">Update</button></td>
          
            
        </tr>    
    </tbody>
</table>
<button routerLink="/admin" class="btn float-end">Get Back</button>