<div class="col-md-12">
    <div class="col-md-2">
       

    </div>
    <div >
        <div class="col-md-10 float-end">
            <div class="row md-4">
                <div *ngFor="let brand of brands" class="card text-dark bg-light mb-3" style="width: 18rem;">
                    <img [src]="imagePathLogo" class="card-img-top" alt="GenericBrandPhoto">
                    <div class="card-body">
                      <h5 class="card-title">{{brand.brandName}}</h5>
                      <p class="card-text"></p>
                      <a routerLink="/cars/brand/{{brand.brandId}}" class="btn" >Show More</a>
                    </div>
                  </div>
                </div>
            </div>
    </div>

</div>
