<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />


<footer id="dk-footer" class="dk-footer">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-lg-3">
                  <br><br>
                  <div>
                      <a href="#" class="footer-logo">
                          <img style="border-radius: 10px;" [src]="imagePathLogo" alt="footer_logo" class="img-fluid">
                      </a>
                      
                      <p class="footer-info-text">
                          Don’t ever let someone tell you that you can’t do something. You want something, go get it. ⁠— Will Smith
                      </p>
                      <div>
                          <h3 style="font-size: 40px; color:white">Follow us</h3>
                          <ul>
                              <li>
                                  <a href="https://github.com/hazardurmazoglu" target="_blank">
                                      <i class="fa fa-linkedin"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="https://instagram.com/relectedd" target="_blank">
                                      <i class="fa fa-instagram"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                     
                  </div>
              </div>
              <!-- End Col -->
              <div class="col-md-12 col-lg-8">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="contact-us">
                              <div class="contact-icon">
                                  <i class="fa fa-map-o" aria-hidden="true"></i>
                              </div>
                              <!-- End contact Icon -->
                              <div class="contact-info">
                                  <h3>Turkey / Istanbul</h3>
                                  <p>Zeytinburnu</p>
                              </div>
                              <!-- End Contact Info -->
                          </div>
                          <!-- End Contact Us -->
                      </div>
                      <!-- End Col -->
                      <div class="col-md-6">
                          <div class="contact-us contact-us-last">
                              <div class="contact-icon">
                                  <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                              </div>
                              <!-- End contact Icon -->
                              <div class="contact-info">
                                  <h3>211 222 3333</h3>
                                  <p>Give us a call</p>
                              </div>
                              <!-- End Contact Info -->
                          </div>
                          <!-- End Contact Us -->
                      </div>
                      <!-- End Col -->
                  </div>
                  <!-- End Contact Row -->
                  <div class="row">
                      <div class="col-md-12 col-lg-6">
                          <div class="footer-widget footer-left-widget">
                              <div class="section-heading">
                                  <h3>Useful Links</h3>

                              </div>
                              <ul>
                                  <li>
                                      <a href="#">About us</a>
                                  </li>
                                  <li>
                                      <a href="#">Services</a>
                                  </li>
                                  <li>
                                      <a href="https://github.com/hazardurmazoglu" target="_blank">Projects</a>
                                  </li>
                                  <li>
                                      <a href="https://github.com/hazardurmazoglu" target="_blank" >Our Team</a>
                                  </li>
                              </ul>
                          </div>
                          <!-- End Footer Widget -->
                      </div>
                
                  </div>
                  <!-- End Row -->
              </div>
              <!-- End Col -->
          </div>
          <!-- End Widget Row -->
      </div>
      <!-- End Contact Container -->


      <div class="copyright">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <span>Copyright © 2021, All Rights Reserved by Hazar Durmazoğlu</span>
                  </div>
                  <!-- End Col -->
                  <div class="col-md-6">
                      <div class="copyright-menu">
                          <ul>
                              <li>
                                  <a href="#">Home</a>
                              </li>
                              <li>
                                  <a href="#">Terms</a>
                              </li>
                              <li>
                                  <a href="#">Privacy Policy</a>
                              </li>
                              <li>
                                  <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank">Contact</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <!-- End col -->
              </div>
              <!-- End Row -->
          </div>
          <!-- End Copyright Container -->
      </div>
      <!-- End Copyright -->
      <!-- Back to top -->
      <div id="back-to-top" class="back-to-top">
          <button class="btn btn-dark" title="Back to Top" style="display: block;">
              <i class="fa fa-angle-up"></i>
          </button>
      </div>
      <!-- End Back to top -->
</footer>