<br>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="border-radius: 10px;">
      <div class="carousel-item active">
        <img [src]="imagePath" class="d-block w-100" alt="..." style="width:1320px !important; height:600px !important;">
        <div class="carousel-caption d-none d-md-block">
            <h1>Fast and Secured Services</h1>
            <p style="font-size: large;">Your dream car is is just few clicks away.</p>
          </div>
      </div>
      <div class="carousel-item">
        <img [src]="imagePath2" class="d-block w-100" alt="..." style="width:1320px !important; height:600px !important; filter: brightness(50%);">
        <div class="carousel-caption d-none d-md-block">
            <h1>Fun and Enjoyable Experience</h1>
            <p style="font-size: large;">Our employees are the best you will see in their job.</p>
          </div>
      </div>
      <div class="carousel-item">
        <img [src]="imagePath3" class="d-block w-100" alt="..."style="width:1320px !important; height:600px !important;" >
        <div class="carousel-caption d-none d-md-block">
            <h1>Quality Assurance</h1>
            <p style="font-size: large;">You will never waste your time.</p>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="row">
    <div class="col-md-6">
      <button routerLink="brands" class="btn">Brands</button>
    </div>
    <div class="col-md-6">
      <button routerLink="colors" class="btn">Colors</button>
    </div>
  <div>
</div>
  

</div>

