<div>
    <div id="myCarousel" class="carousel-slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item-active">
                <img [src]="imagePath" alt="photo" style="width:1320px !important; height:480px !important;"/>
                <div class="carousel-caption" style="border: black;">
                    <h1>Fast and Secured Services</h1>
                </div>
            </div>

        </div>
    </div>
</div>
<div>

</div>
<div class="footer">

</div>