<br>
<div style="padding-bottom: 81px;">
    <nav style="border-radius: 20px;" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/admin">Admin Control Panel</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cars
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a routerLink="/addcar" class="dropdown-item" href="#">Add</a></li>
                  <li><a class="dropdown-item" routerLink="/carupdate">Update</a></li>
                  
                  
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Brands
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a routerLink="/addbrand" class="dropdown-item" href="#">Add</a></li>
                  <li><a class="dropdown-item" routerLink="/brandupdate">Update</a></li>
                  
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Colors
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a routerLink="/addcolor" class="dropdown-item" href="#">Add</a></li>
                  <li><a class="dropdown-item" routerLink="/colorupdate">Update</a></li>
                  
                </ul>
                
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Customers
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a routerLink="/addcolor" class="dropdown-item" routerLink="allcustomers">Get All Customers</a></li>
                </ul>
                
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Rentals
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a routerLink="/addcolor" class="dropdown-item" routerLink="allcustomers">Get All Rentals</a></li>
                </ul>
                
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>