<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
  
    <footer class="footer-03">
    <div class="container">
    <div class="row">
    <div class="col-md-6">
    <div class="row">
    <div class="col-md-4 mb-md-0 mb-4">
    <ul class="list-unstyled">
    <a href="#" class="footer-logo">
        <img style="border-radius: 10px;" [src]="imagePathLogo" alt="footer_logo" class="img-fluid">
    </a>
    </ul>
    </div>
    <div class="col-md-4 mb-md-0 mb-4">
    <h2 class="footer-heading">Useful Links</h2>
    <ul class="list-unstyled">
    <li><a href="#" class="py-1 d-block">About Us</a></li>
    <li><a href="#" class="py-1 d-block">Services</a></li>
    <li><a href="https://github.com/hazardurmazoglu" target="_blank" class="py-1 d-block">Projects</a></li>
    <li><a href="https://github.com/hazardurmazoglu" target="_blank" class="py-1 d-block">Our Team</a></li>
    </ul>
    </div>
    <div class="col-md-4 mb-md-0 mb-4">
    
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="row justify-content-end">
    <div class="col-md-12 col-lg-11 mb-md-0 mb-4">
    <h2 class="footer-heading">Follow Us</h2>
    <ul class="ftco-footer-social p-0">
    <a href="https://www.linkedin.com/in/hazar-durmazoglu/" target="_blank" class="fa fa-linkedin"></a>
    <a href="https://www.instagram.com/relectedd/" target="_blank" class="fa fa-instagram"></a>
    
    
    </ul>
    <h2 class="footer-heading mt-5">Subscribe Us</h2>
    <form action="#" class="subscribe-form">
    <div class="form-group d-flex">
    <input type="text" class="form-control rounded-left" placeholder="Enter email address">
    <input routerLink="/register" type="submit" value="Subscribe" class="form-control submit px-3 rounded-right">
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    <div class="row mt-5 pt-4 border-top">
    <div class="col-md-6 col-lg-8">
    <p class="copyright">
    Copyright &copy; All rights reserved | H.D. Car Rental
    </p>
    </div>
    <div class="col-md-6 col-lg-4 text-md-right">
    <p class="mb-0 list-unstyled">
    <a class="mr-md-3" href="#">Terms &amp; Conditions</a>
    <a class="mr-md-3" href="https://youtu.be/dQw4w9WgXcQ" target="_blank">Privacy</a>
    </p>
    </div>
    </div>
    </div>
    </footer>
    </body>