<div class="card" style="border-radius: 10px;">
    <div class="card-body">
        <div>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div *ngFor="let carImage of carImages; let i = index"  [class]="getSliderClassName(i)">
                    <img src="{{imageUrl}}{{carImage.imagePath}}" class="d-block w-100" alt="..." style="width:1320px !important; height:600px !important;">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 style="font-style: italic; font-size: x-large;">{{carDetail.description}}</h5>
                        <p>{{carDetail.description}} will not let you down.</p>
                        <button (click)="deleteCarImageById(carImage.carImageId)" class="btn-dark btn-outline-danger">Delete This Image</button>
                      </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

              <table class="table m-1">
                  <thead>
                      <tr>
                        <th scope="col" style="background-color:#212529; color:white; border-radius: 10px">
                            Brand
                          </th>
                          <th  scope="col" style="background-color: #212529; color:white;  border-radius: 10px">
                            Color
                          </th>
                          <th scope="col" style="background-color: #212529; color:white; border-radius: 10px">
                            Model Year
                          </th>
                          <th scope="col" style="background-color: #212529; color:white; border-radius: 10px">
                            Min. Findex Score
                          </th>
                          <th scope="col" style="background-color: #212529; color:white; border-radius: 10px">
                            Daily Price
                          </th>
                          <th scope="col" style="background-color: #212529; color:white; border-radius: 10px">
                            Daily Price + VAT
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="carDetail">
                        <td>{{ carDetail.brandName }}</td>
                        <td>{{ carDetail.colorName }}</td>
                        <td>{{ carDetail.modelYear }}</td>
                        <td>{{ carDetail.minFindexScore }}</td>
                        <td>{{ carDetail.dailyPrice | currency }}</td>
                        <td>{{ carDetail.dailyPrice | vatAdded:8 | currency }}</td>
                        <td>
                            <button routerLink="/rental/car/{{carDetail.carId}}" type="button" aria-current="true"
                            class="btn btn-dark btn-outline-info float-end">
                            Rental Options
                          </button> 
                            
                            <button routerLink="/carimageoptions/{{carDetail.carId}}" type="button" aria-current="true"
                            class="btn btn-dark btn-outline-warning float-end">
                            Get Back
                            </button>
                        </td>
      
                      </tr>
                  </tbody>
              </table>
        </div>

    </div>

</div>