<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-info m-4"
  role="status"
></div>

<div class="m-3">
  <label for="exampleFormControlInput1" class="form-label" style="color:black; font-size: large; ">Search via Brand</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" style=" border-radius: 10px; border-color: black;" placeholder="Brand..">
</div>

<div *ngIf="filterText.length>2" class="alert-danger m-2">
  {{filterText}} searching...
</div>

<ul *ngIf="dataLoaded == true" 
    class="list-group list-group-flush m-4">
    
    <h4 class="ps-2"
    style="background-color:white; color:#dc3545; border-radius: 88px; height: 28px; text-align: center;">
    Brands
</h4>

  <li
    (click)="setCurrentBrand(brand)"
    routerLink = "/cars/brand/{{brand.brandId}}"
    *ngFor="let brand of brands | filterBrandPipe:filterText"
    [class]="getBrandClass(brand)" style="background: white; color:black;"
  >
    {{ brand.brandName }}
  </li>

  <button
    routerLink="/cars"
    (click)="clearFilter()"
    type="button"
    aria-current="true"
    class="btn btn-light btn-outline-danger"
  >
    Clear Filter
  </button>
</ul>