
<!-- <table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Model Year</th>
            <th>Daily Price</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let carDetail of carDetails">
            <td><img style="width:300px !important; height:200px !important;" src="{{imageUrl}}{{carDetail.imagePath}}" ></td>
            <td>{{carDetail.brandName}}</td>
            <td>{{carDetail.colorName}}</td>
            <td>{{carDetail.modelYear}}</td>
            <td>{{carDetail.dailyPrice}}</td>
        </tr>
        

    </tbody>





</table> -->
<!-- <div class="container">
<div class="row">


    <div class="col-md-6">
        <app-car-filter></app-car-filter>
    </div>
    <div class="col-md-6">
        <br>
        <div *ngFor="let carDetail of carDetails" class="card"  style="width: 38rem;" >
            <img class="card-img-top" style="width:606px !important; height:300px !important;" src="{{imageUrl}}{{carDetail.imagePath}}" [alt]="carDetail.description">
            <div class="card-body">
             <h5 class="card-title">{{carDetail.description}}</h5>
            <p class="card-text">Choose "{{carDetail.description}}" and you will not make a bad choice.</p>
            <btn routerLink="/cars/carinfo/{{carDetail.carId}}" class="btn btn-dark btn-outline-info"> > Details</btn>
            
         </div>
        </div>
    </div>
</div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div>
                <app-car-filter></app-car-filter>
            </div>
            <div>
                <button routerLink="/addcar" class="btn-dark btn-outline-info">Add New Car</button>
            </div>
        </div>
        <div class="col-md-8">
            <br>
         <table class="table m-2">
             <thead>
                    <tr>
                        
                        <th scope="col" style="background-color:#212529; color:white; border-radius: 10px">Image</th>
                        <th scope="col" style="background-color:#212529; color:white; border-radius: 10px">Description</th>
                        <th scope="col" style="background-color:#212529; color:white; border-radius: 10px">Brand</th>
                        <th scope="col" style="background-color:#212529; color:white; border-radius: 10px">Color</th>
                        <th scope="col" style="background-color:#212529; color:white; border-radius: 10px">Model Year</th>
                        <th scope="col" style="background-color:#212529; color:white; border-radius: 10px">Findex Score</th>
                        <th></th>
                    </tr>
             </thead>
             <tbody>    
                    <tr *ngFor="let carDetail of carDetails">
                        <td><img src="" alt="Photo"></td>
                        <td>{{carDetail.description}}</td>
                        <td>{{carDetail.brandName}}</td>
                        <td>{{carDetail.colorName}}</td>
                        <td>{{carDetail.modelYear}}</td>
                        <td>Findex?</td>
                        
                        <button routerLink="/cars/carinfo/{{carDetail.carId}}" type="button" aria-current="true" class="btn">
                            > Details
                            </button>
                    </tr>
             </tbody>
         </table>
        </div>
    </div>
</div>



  
  