
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div>
                <app-car-filter></app-car-filter>
            </div>
         
        </div>
        <div class="col-md-8">
            <br>
         <!-- <table class="table m-2">
             <thead>
                    <tr>
                        
                        <th scope="col" style="background-color:#212529; color:white; border-radius: 10px">Image</th>
                        <th scope="col" style="background-color:#212529; color:white; border-radius: 10px">Description</th>
                        <th scope="col" style="background-color:#212529; color:white; border-radius: 10px">Brand</th>
                        <th scope="col" style="background-color:#212529; color:white; border-radius: 10px">Color</th>
                        <th scope="col" style="background-color:#212529; color:white; border-radius: 10px">Model Year</th>
                        <th scope="col" style="background-color:#212529; color:white; border-radius: 10px">Findex Score</th>
                        <th></th>
                    </tr>
             </thead>
             <tbody>    
                    <tr *ngFor="let carDetail of carDetails">
                        <td><img src="{{imageUrl}}{{carDetail.previewPath}}" style="width: 120px; height: 60px;" alt="Photo"></td>
                        <td>{{carDetail.description}}</td>
                        <td>{{carDetail.brandName}}</td>
                        <td>{{carDetail.colorName}}</td>
                        <td>{{carDetail.modelYear}}</td>
                        <td>{{carDetail.minFindexScore}}</td>
                        
                        <button routerLink="/cars/carinfo/{{carDetail.carId}}" type="button" aria-current="true" class="btn">
                            > Details
                            </button>
                    </tr>
             </tbody>
         </table> -->

         <div class="row">
            <div *ngFor="let carDetail of carDetails" class="card" style="width: 26rem;">
                
                <img src="{{imageUrl}}{{carDetail.previewPath}}" style="width: 390px; height: 200px;" alt="Photo">
                <div class="card-body">
                  <h5 class="card-title">{{carDetail.description}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{carDetail.brandName}}</li>
                  <li class="list-group-item">{{carDetail.colorName}}</li>
                  <li class="list-group-item">{{carDetail.modelYear}}</li>
                </ul>
                <div class="card-body">
                  <button  routerLink="/cars/carinfo/{{carDetail.carId}}" class="btn btn-lg"> > Details</button>
                </div>
                
              </div>
              
        
        </div>
        </div>
    </div>
</div>



  
  