<br>
<h2 style="font: italic;">Car Image Options</h2>
<table class="table">
    <thead>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        
        <tr></tr>
    </thead>
    <tbody>
        <td><button routerLink="/carimageoptions/addcarimage/{{carDetail.carId}}" class="btn">Add Car Image</button></td>
        <td><button routerLink="/carupdate/previewimage/{{carDetail.carId}}" class="btn">Add-Update Preview Image</button></td>
        <td><button routerLink="/carimageoptions/deletecarimage/{{carDetail.carId}}" class="btn"> Delete Car Image</button></td>
        
        <td><button routerLink="/carupdate" class="btn">Get Back</button></td>
    </tbody>
</table>
